/* Setting variables */
:root {
    --pixel-size: 2px;
    --grid-cell: calc( var(--pixel-size) * 16);
    --bg: #9fa7e4
}

@media( min-width: 700px ) {
    :root {
        --pixel-size: 3px;
    }
}
@media( min-width: 900px ) {
    :root {
        --pixel-size: 4px;
    }
}

html, body {
    height: 100%;
}

body {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pixel-art {
    image-rendering: pixelated;
}

.camera {
    
    
}

/* Setting up the map */

.map {
    image-rendering: pixelated;
    background-image: url(../images/CameraDemoMap.png);
    background-size: 100%;
    width: calc(13 * var(--grid-cell));
    height: calc(10 * var(--grid-cell));
    position: relative;
}

.character{
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
    position: absolute;
    overflow: hidden;
}

.shadow {
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 3 );
}

.character_spritesheet {
    position: absolute;
    background: url("../images/DemoRpgCharacter.png") 
}

/* Need to add character and animations */

/*  Need to add the shadow assets in to use */

/* Need to finish importing the axis movements */